<form [formGroup]="searchForm">
  <div class="form-group">
    <span class="searchbox-icon"><i class="fa fa-search"></i></span>
    <input formControlName="searchCountry" class="center-block fullwidth search" type="text" placeholder="Enter Country Name"
      (keyup)="getCountry($event)">
  </div>
</form>